//global items
$primary: #27DEBF;
$second: #000000;

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 15px;
    font-weight: 400;
}

.container {
    padding: 0 400px;
}

.menu {
    display: flex;
    justify-content: space-between;
    margin: 5% 0 0;

    .menu-nav {
        margin: auto 0;

        ul.nav-list {
            list-style: none;
            display: flex;

            a.nav-link {
                text-decoration: none;
                color: $second;
                
                li.nav-list-item {
                    margin: 0 2.5rem;
                    font-weight: 700;
                }
            }
        }
    }
}



